<a href="https://colab.research.google.com/github/shubhamkoul007/Python-Practice/blob/main/Team1_Project1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel("Online Retail.xlsx")

In [4]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [7]:
df.info

<bound method DataFrame.info of        InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]>

In [6]:
df.describe

<bound method NDFrame.describe of        InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]>

In [19]:
df.axes

[RangeIndex(start=0, stop=541909, step=1),
 Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
        'UnitPrice', 'CustomerID', 'Country'],
       dtype='object')]

In [39]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [42]:
b = pd.isnull(df['Description'])

df[b]

       InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
622       536414     22139         NaN  ...        0.0        NaN  United Kingdom
1970      536545     21134         NaN  ...        0.0        NaN  United Kingdom
1971      536546     22145         NaN  ...        0.0        NaN  United Kingdom
1972      536547     37509         NaN  ...        0.0        NaN  United Kingdom
1987      536549    85226A         NaN  ...        0.0        NaN  United Kingdom
...          ...       ...         ...  ...        ...        ...             ...
535322    581199     84581         NaN  ...        0.0        NaN  United Kingdom
535326    581203     23406         NaN  ...        0.0        NaN  United Kingdom
535332    581209     21620         NaN  ...        0.0        NaN  United Kingdom
536981    581234     72817         NaN  ...        0.0        NaN  United Kingdom
538554    581408     85175         NaN  ...        0.0        NaN  United Kingdom

[1454 rows x 8 columns]

In [43]:
df.isnull

<bound method DataFrame.isnull of        InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]>

In [44]:
df.isnull()

        InvoiceNo  StockCode  Description  ...  UnitPrice  CustomerID  Country
0           False      False        False  ...      False       False    False
1           False      False        False  ...      False       False    False
2           False      False        False  ...      False       False    False
3           False      False        False  ...      False       False    False
4           False      False        False  ...      False       False    False
...           ...        ...          ...  ...        ...         ...      ...
541904      False      False        False  ...      False       False    False
541905      False      False        False  ...      False       False    False
541906      False      False        False  ...      False       False    False
541907      False      False        False  ...      False       False    False
541908      False      False        False  ...      False       False    False

[541909 rows x 8 columns]

In [ ]:
df['InvoiceDate'] = df[ df['InvoiceDate'].notnull ]